In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import cohen_kappa_score
from statsmodels.stats.inter_rater import fleiss_kappa

In [2]:
# Load the CSV file with two annotators
df_cv_PARAS = pd.read_csv('Paras\project-4-at-2025-01-25-00-36-551c7f4a.csv')
df_cv_AKSHAT = pd.read_csv('Akshat\project-2-at-2025-01-23-23-42-a1f30056.csv')
df_cv_RISHANK = pd.read_csv('Rishank\project-5-at-2025-01-24-09-22-8d0ec1e1.csv')

In [3]:
df_cv_PARAS

,annotation_id,annotator,choice,created_at,id,image,lead_time,updated_at
0,21,1,No-Truck,2025-01-24T08:55:43.848784Z,14420,/data/upload/4/423bddd5-img_340.jpg,15.012,2025-01-24T08:55:43.848784Z
1,22,1,Truck,2025-01-24T08:56:07.549137Z,14421,/data/upload/4/afe8d17f-img_341.jpg,19.861,2025-01-24T08:56:07.549137Z
2,23,1,No-Truck,2025-01-24T08:56:36.973922Z,14422,/data/upload/4/aacb5d64-img_342.jpg,26.011,2025-01-24T08:56:36.973922Z
3,24,1,No-Truck,2025-01-24T08:56:48.025453Z,14423,/data/upload/4/ef3b3c70-img_343.jpg,1195.261,2025-01-24T19:03:56.212683Z
4,25,1,No-Truck,2025-01-24T08:56:58.997891Z,14424,/data/upload/4/8ee86fa4-img_344.jpg,7.616,2025-01-24T08:56:58.997891Z
5,26,1,Truck,2025-01-24T08:57:12.534271Z,14425,/data/upload/4/803ec180-img_345.jpg,68.719,2025-01-24T19:05:07.451289Z
6,27,1,Truck,2025-01-24T08:58:01.877450Z,14426,/data/upload/4/42090fd5-img_346.jpg,43.709,2025-01-24T08:58:01.877450Z
7,28,1,Truck,2025-01-24T08:58:14.659341Z,14427,/data/upload/4/c7f959d5-img_347.jpg,8.290,2025-01-24T08:58:14.659341Z
8,29,1,No-Truck,2025-01-24T08:58:41.552282Z,14428,/data/upload/4/c706e3fd-img_348.jpg,24.665,2025-01-24T08:58:41.552282Z
9,30,1,No-Truck,2025-01-24T08:58:52.762255Z,14429,/data/upload/4/4fd6ef04-img_349.jpg,7.291,2025-01-24T08:58:52.762255Z
10,31,1,Truck,2025-01-24T08:59:04.486312Z,14430,/data/upload/4/3ed5d50b-img_350.jpg,9.846,2025-01-24T08:59:04.486312Z
11,32,1,No-Truck,2025-01-24T08:59:15.150730Z,14431,/data/upload/4/ea01e169-img_351.jpg,8.676,2025-01-24T08:59:15.150730Z
12,33,1,Truck,2025-01-24T08:59:23.959517Z,14432,/data/upload/4/a0ffb28b-img_352.jpg,6.076,2025-01-24T08:59:23.959517Z
13,34,1,Truck,2025-01-24T08:59:41.910562Z,14433,/data/upload/4/344a75eb-img_353.jpg,8.970,2025-01-24T08:59:41.910562Z
14,35,1,No-Truck,2025-01-24T09:00:03.066905Z,14434,/data/upload/4/d629fbf4-img_354.jpg,19.526,2025-01-24T09:00:03.066905Z
15,36,1,No-Truck,2025-01-24T09:02:36.668956Z,14435,/data/upload/4/ee09c72a-img_355.jpg,150.755,2025-01-24T09:02:36.668956Z
16,37,1,No-Truck,2025-01-24T09:03:42.283813Z,14436,/data/upload/4/51e743d3-img_356.jpg,17.848,2025-01-24T19:06:12.418651Z
17,38,1,Truck,2025-01-24T09:03:49.596972Z,14437,/data/upload/4/a4e559e4-img_357.jpg,5.583,2025-01-24T09:03:49.596972Z
18,39,1,No-Truck,2025-01-24T09:04:09.926798Z,14438,/data/upload/4/7fb6da76-img_358.jpg,20.548,2025-01-24T19:06:15.619751Z
19,40,1,Truck,2025-01-24T09:04:30.694838Z,14439,/data/upload/4/6c53bf77-img_359.jpg,14.728,2025-01-24T09:04:30.694838Z

In [4]:
df_cv_AKSHAT.head()

,annotation_id,annotator,choice,created_at,id,image,lead_time,updated_at
0,22,1,No-Truck,2025-01-23T18:04:02.604829Z,14421,/data/upload/2/f356ded0-img_340.jpg,22.417,2025-01-23T18:04:02.604829Z
1,23,1,Truck,2025-01-23T18:04:15.455358Z,14422,/data/upload/2/d41812dd-img_341.jpg,10.531,2025-01-23T18:04:15.455358Z
2,24,1,No-Truck,2025-01-23T18:04:59.028489Z,14423,/data/upload/2/488ed916-img_342.jpg,4.650,2025-01-23T18:04:59.028489Z
3,25,1,No-Truck,2025-01-23T18:05:26.844647Z,14424,/data/upload/2/1ba6c9f6-img_343.jpg,26.401,2025-01-23T18:05:26.844647Z
4,26,1,No-Truck,2025-01-23T18:05:34.255438Z,14425,/data/upload/2/ffe56553-img_344.jpg,5.848,2025-01-23T18:05:34.255438Z

In [5]:
df_cv_RISHANK.head()

,annotation_id,annotator,choice,created_at,id,image,lead_time,updated_at
0,21,1,No-Truck,2025-01-24T09:07:34.500515Z,14460,/data/upload/5/afeb6be7-img_340.jpg,59.298,2025-01-24T09:07:34.500533Z
1,22,1,Truck,2025-01-24T09:08:56.710095Z,14461,/data/upload/5/b8ee6aef-img_341.jpg,82.075,2025-01-24T09:08:56.710111Z
2,23,1,No-Truck,2025-01-24T09:09:17.035493Z,14462,/data/upload/5/6d06a377-img_342.jpg,20.214,2025-01-24T09:09:17.035521Z
3,24,1,No-Truck,2025-01-24T09:10:20.321822Z,14463,/data/upload/5/13d5d5fb-img_343.jpg,63.178,2025-01-24T09:10:20.321838Z
4,25,1,No-Truck,2025-01-24T09:10:50.669709Z,14464,/data/upload/5/7f07c2bd-img_344.jpg,30.219,2025-01-24T09:10:50.669724Z

In [6]:
df_cv_combined = pd.DataFrame(columns=['id', 'label_PARAS', 'label_AKSHAT', 'label_RISHANK'])
df_cv_combined['id'] = df_cv_PARAS['annotation_id']
df_cv_combined['label_PARAS'] = df_cv_PARAS['choice']
df_cv_combined['label_AKSHAT'] = df_cv_AKSHAT['choice']
df_cv_combined['label_RISHANK'] = df_cv_RISHANK['choice']

In [7]:
df_cv_combined

    id label_PARAS label_AKSHAT label_RISHANK
0   21    No-Truck     No-Truck      No-Truck
1   22       Truck        Truck         Truck
2   23    No-Truck     No-Truck      No-Truck
3   24    No-Truck     No-Truck      No-Truck
4   25    No-Truck     No-Truck      No-Truck
5   26       Truck     No-Truck         Truck
6   27       Truck        Truck         Truck
7   28       Truck     No-Truck      No-Truck
8   29    No-Truck     No-Truck      No-Truck
9   30    No-Truck     No-Truck      No-Truck
10  31       Truck        Truck         Truck
11  32    No-Truck     No-Truck      No-Truck
12  33       Truck        Truck         Truck
13  34       Truck        Truck         Truck
14  35    No-Truck     No-Truck      No-Truck
15  36    No-Truck     No-Truck      No-Truck
16  37    No-Truck     No-Truck      No-Truck
17  38       Truck        Truck         Truck
18  39    No-Truck     No-Truck      No-Truck
19  40       Truck        Truck         Truck

In [8]:
# Extract the ratings for each annotator into a numpy array
# Assuming 'label_PARAS', 'label_AKSHAT', 'label_RISHANK' represent categorical labels (e.g., 0, 1, or other values)
ratings = df_cv_combined[['label_PARAS', 'label_AKSHAT', 'label_RISHANK']].values

In [9]:
# You may need to convert ratings to a format where each item (row) is represented by the frequency of each label. 
# For example, if your labels are categorical (like 0, 1), you'll need to count the occurrences of each label.

# If your labels are binary (e.g., 0, 1), this conversion would work fine:
# Example: convert labels into a contingency table form suitable for Fleiss' Kappa calculation

# Convert ratings into a contingency table (matrix of item x label)
# Here we assume binary labels (e.g., 0 or 1). You can modify this for more categories if needed.

In [10]:
unique_labels = np.unique(ratings)
contingency_table = []

for row in ratings:
    label_counts = [np.sum(row == label) for label in unique_labels]
    contingency_table.append(label_counts)

contingency_table = np.array(contingency_table)

In [11]:
# Calculate Fleiss' Kappa
fleiss_kappa_value = fleiss_kappa(contingency_table)
print(f"Fleiss' Kappa: {fleiss_kappa_value}")

Fleiss' Kappa: 0.8611111111111109

In [22]:
# Load the CSV file with two annotators
df_nlp_PARAS = pd.read_csv('project-1-at-2025-01-25-01-18-7217fc4c.csv')
df_nlp_AKSHAT = pd.read_csv('Akshat\project-1-at-2025-01-23-23-24-6ff58ec5.csv')

In [23]:
df_nlp_AKSHAT

,annotation_id,annotator,created_at,id,label,lead_time,text,updated_at
0,2,1,2025-01-23T16:24:55.221898Z,341,"[{""start"":0,""end"":8,""text"":""Digital "",""labels""...",313.999,"Digital India, आत्मनिर्भर भारत की साधना है, Di...",2025-01-23T17:14:23.866011Z
1,3,1,2025-01-23T16:42:13.378509Z,342,"[{""start"":5,""end"":9,""text"":""लिए "",""labels"":[""A...",310.516,इसके लिए National Digital Health Mission के तह...,2025-01-23T17:14:26.233393Z
2,4,1,2025-01-23T16:48:04.922179Z,343,"[{""start"":0,""end"":8,""text"":""श्रीमान "",""labels""...",343.324,"श्रीमान मनसुख भाई मांडविया, वह अभी हमारे नए He...",2025-01-23T17:14:44.026713Z
3,5,1,2025-01-23T16:54:54.470038Z,344,"[{""start"":0,""end"":4,""text"":""इसी "",""labels"":[""P...",396.655,इसी महीने उन्हें World Intellectual Property O...,2025-01-23T16:54:54.470038Z
4,6,1,2025-01-23T16:57:35.485077Z,345,"[{""start"":0,""end"":10,""text"":""Kaziranga "",""labe...",159.459,Kaziranga National Park & Tiger Reserve Author...,2025-01-23T16:57:35.485077Z
5,7,1,2025-01-23T17:01:36.940820Z,346,"[{""start"":0,""end"":6,""text"":""इनमें "",""labels"":[...",240.096,"इनमें से 58 Species यूरोप, Central Asia और Eas...",2025-01-23T17:01:36.940820Z
6,8,1,2025-01-23T17:06:15.906174Z,347,"[{""start"":0,""end"":5,""text"":""माता "",""labels"":[""...",182.395,"माता अन्नपूर्णा की प्रतिमा की वापसी के साथ, एक...",2025-01-23T17:06:15.906174Z
7,9,1,2025-01-23T17:10:29.665601Z,348,"[{""start"":0,""end"":2,""text"":""अब"",""labels"":[""ADV...",117.795,"अब, आप, घर बैठे दिल्ली के National Museum gall...",2025-01-23T17:10:29.665601Z
8,10,1,2025-01-23T17:17:39.381836Z,349,"[{""start"":0,""end"":11,""text"":""Technology "",""lab...",216.710,"Technology के ज़रिये, मैं, IIT-Guwahati, IIT-De...",2025-01-23T17:17:39.381836Z
9,11,1,2025-01-23T17:25:40.286097Z,350,"[{""start"":0,""end"":6,""text"":""नॉर्थ "",""labels"":[...",192.969,"नॉर्थ ईस्ट का सामर्थ्य, भारत के Bamboo Import ...",2025-01-23T17:25:40.286097Z
10,12,1,2025-01-23T17:27:49.561964Z,351,"[{""start"":0,""end"":5,""text"":""मेरा "",""labels"":[""...",128.053,"मेरा नाम कशिश नेगी है, मैं MRADAV Public Schoo...",2025-01-23T17:27:49.561964Z
11,13,1,2025-01-23T17:34:09.207061Z,352,"[{""start"":0,""end"":3,""text"":""और "",""labels"":[""CO...",377.773,"और through NDRF, through SDRF आप पूरे पुलिस बे...",2025-01-23T17:34:09.207061Z
12,14,1,2025-01-23T17:36:23.167809Z,353,"[{""start"":0,""end"":3,""text"":""अब "",""labels"":[""AD...",131.089,"अब राज्य में IIT, IIM, IIIT, बिहार के नौजवानों...",2025-01-23T17:36:23.167809Z
13,15,1,2025-01-23T17:36:27.354146Z,354,"[{""start"":0,""end"":5,""text"":""भारत "",""labels"":[""...",166.278,"भारत के Higher Education Institutes, अंतरराष्ट...",2025-01-23T17:39:15.742988Z
14,16,1,2025-01-23T17:45:15.073795Z,355,"[{""start"":0,""end"":4,""text"":""इसी "",""labels"":[""P...",357.894,इसी तरह इंफ्रास्ट्रक्चर और कुछ इंडस्ट्रियल प्र...,2025-01-23T17:45:15.073795Z
15,17,1,2025-01-23T17:46:56.115734Z,356,"[{""start"":0,""end"":8,""text"":""Fintech "",""labels""...",99.508,Fintech Sector की इसी संभावना को देखते हुए IFS...,2025-01-23T17:46:56.115734Z
16,18,1,2025-01-23T17:48:47.918467Z,357,"[{""start"":0,""end"":6,""text"":""पिछले "",""labels"":[...",110.706,पिछले साल शुरू किया गया Bharat Interface for M...,2025-01-23T17:48:47.918467Z
17,19,1,2025-01-23T17:50:54.969809Z,358,"[{""start"":0,""end"":5,""text"":""इसके "",""labels"":[""...",125.965,"इसके तहत IIT, IISC, NIT जैसे संस्थानों के B Te...",2025-01-23T17:50:54.969809Z
18,20,1,2025-01-23T17:52:03.880637Z,359,"[{""start"":0,""end"":14,""text"":""इन्टेलेक्चुअल "",""...",67.811,"इन्टेलेक्चुअल Property Rights पर, और Banks के ...",2025-01-23T17:52:03.880704Z
19,21,1,2025-01-23T17:53:39.302039Z,360,"[{""start"":0,""end"":3,""text"":""कल "",""labels"":[""AD...",94.206,"कल समिट के दौरान innovation BRICS Network, और ...",2025-01-23T17:53:39.302039Z

In [24]:
df_nlp_PARAS

,annotation_id,annotator,created_at,id,label,lead_time,text,updated_at
0,1,1,2025-01-23T17:08:40.980860Z,340,"[{""start"":8,""end"":13,""text"":""India"",""labels"":[...",1826.460,"Digital India, आत्मनिर्भर भारत की साधना है, Di...",2025-01-24T19:46:38.858747Z
1,2,1,2025-01-23T17:16:46.250584Z,341,"[{""start"":0,""end"":5,""text"":""इसके "",""labels"":[""...",387.126,इसके लिए National Digital Health Mission के तह...,2025-01-23T17:16:46.250584Z
2,3,1,2025-01-23T17:22:37.244341Z,342,"[{""start"":8,""end"":14,""text"":""मनसुख "",""labels"":...",327.866,"श्रीमान मनसुख भाई मांडविया, वह अभी हमारे नए He...",2025-01-23T17:22:37.244341Z
3,4,1,2025-01-23T18:38:52.523837Z,343,"[{""start"":0,""end"":4,""text"":""इसी "",""labels"":[""D...",153.398,इसी महीने उन्हें World Intellectual Property O...,2025-01-23T18:38:52.523837Z
4,5,1,2025-01-23T18:44:22.448884Z,344,"[{""start"":0,""end"":10,""text"":""Kaziranga "",""labe...",326.857,Kaziranga National Park & Tiger Reserve Author...,2025-01-23T18:44:22.448884Z
5,6,1,2025-01-23T18:48:48.818393Z,345,"[{""start"":0,""end"":6,""text"":""इनमें "",""labels"":[...",256.096,"इनमें से 58 Species यूरोप, Central Asia और Eas...",2025-01-23T18:48:48.818393Z
6,7,1,2025-01-23T18:55:32.316881Z,346,"[{""start"":0,""end"":5,""text"":""माता "",""labels"":[""...",389.280,"माता अन्नपूर्णा की प्रतिमा की वापसी के साथ, एक...",2025-01-23T18:55:32.316881Z
7,8,1,2025-01-23T18:57:43.230650Z,347,"[{""start"":0,""end"":2,""text"":""अब"",""labels"":[""ADV...",160.662,"अब, आप, घर बैठे दिल्ली के National Museum gall...",2025-01-23T18:58:15.466412Z
8,9,1,2025-01-23T19:02:25.233084Z,348,"[{""start"":0,""end"":11,""text"":""Technology "",""lab...",225.617,"Technology के ज़रिये, मैं, IIT-Guwahati, IIT-De...",2025-01-23T19:02:25.233084Z
9,10,1,2025-01-23T19:04:51.178038Z,349,"[{""start"":0,""end"":6,""text"":""नॉर्थ "",""labels"":[...",137.876,"नॉर्थ ईस्ट का सामर्थ्य, भारत के Bamboo Import ...",2025-01-23T19:04:51.178038Z
10,11,1,2025-01-23T19:08:34.196541Z,350,"[{""start"":0,""end"":5,""text"":""मेरा "",""labels"":[""...",220.895,"मेरा नाम कशिश नेगी है, मैं MRADAV Public Schoo...",2025-01-23T19:08:34.196541Z
11,12,1,2025-01-23T19:13:10.785853Z,351,"[{""start"":0,""end"":3,""text"":""और "",""labels"":[""CO...",229.315,"और through NDRF, through SDRF आप पूरे पुलिस बे...",2025-01-23T19:13:10.785853Z
12,13,1,2025-01-23T19:26:30.944267Z,352,"[{""start"":0,""end"":3,""text"":""अब "",""labels"":[""AD...",762.541,"अब राज्य में IIT, IIM, IIIT, बिहार के नौजवानों...",2025-01-23T19:26:30.944267Z
13,14,1,2025-01-23T19:39:45.439514Z,353,"[{""start"":0,""end"":5,""text"":""भारत "",""labels"":[""...",752.488,"भारत के Higher Education Institutes, अंतरराष्ट...",2025-01-23T19:39:45.439514Z
14,15,1,2025-01-23T19:41:56.736594Z,354,"[{""start"":0,""end"":4,""text"":""इसी "",""labels"":[""P...",118.342,इसी तरह इंफ्रास्ट्रक्चर और कुछ इंडस्ट्रियल प्र...,2025-01-23T19:41:56.736594Z
15,16,1,2025-01-23T19:48:32.043646Z,355,"[{""start"":0,""end"":8,""text"":""Fintech "",""labels""...",380.083,Fintech Sector की इसी संभावना को देखते हुए IFS...,2025-01-23T19:48:32.043646Z
16,17,1,2025-01-23T19:54:51.498156Z,356,"[{""start"":0,""end"":6,""text"":""पिछले "",""labels"":[...",375.578,पिछले साल शुरू किया गया Bharat Interface for M...,2025-01-23T19:54:51.498156Z
17,18,1,2025-01-23T19:59:05.384133Z,357,"[{""start"":0,""end"":5,""text"":""इसके "",""labels"":[""...",251.602,"इसके तहत IIT, IISC, NIT जैसे संस्थानों के B Te...",2025-01-23T19:59:05.384133Z
18,19,1,2025-01-23T20:01:22.520480Z,358,"[{""start"":0,""end"":14,""text"":""इन्टेलेक्चुअल "",""...",128.456,"इन्टेलेक्चुअल Property Rights पर, और Banks के ...",2025-01-23T20:01:22.520480Z
19,20,1,2025-01-23T20:04:00.891987Z,359,"[{""start"":0,""end"":3,""text"":""कल "",""labels"":[""AD...",151.432,"कल समिट के दौरान innovation BRICS Network, और ...",2025-01-23T20:04:00.891987Z

In [25]:
annotations=pd.DataFrame(columns=['word','Paras','Akshat'])

In [28]:
import ast

l1 = []
l2 = []

# Iterate through the rows of both DataFrames
for i in range(len(df_nlp_PARAS)):
    d1 = dict()
    d2 = dict()

    # Convert the string in the 'label' column to a list of dictionaries
    labels_PARAS = ast.literal_eval(df_nlp_PARAS['label'][i])
    labels_AKSHAT = ast.literal_eval(df_nlp_AKSHAT['label'][i])

    # Iterate through the labels and extract the 'text' and 'labels' values
    for j in range(len(labels_AKSHAT)):
        # d1[labels_PARAS[j]['text']] = labels_PARAS[j]['labels'][0]  # Assuming each label list has one label
        d2[labels_AKSHAT[j]['text']] = labels_AKSHAT[j]['labels'][0]  # Same assumption
        
        # Iterate through the labels and extract the 'text' and 'labels' values
    for j in range(len(labels_PARAS)):
        d1[labels_PARAS[j]['text']] = labels_PARAS[j]['labels'][0]  # Assuming each label list has one label
        # d2[labels_AKSHAT[j]['text']] = labels_AKSHAT[j]['labels'][0]  # Same assumption

    l1.append(d1)
    l2.append(d2)

# Check if the lengths match for all entries
for i in range(len(l1)):
    if len(l1[i]) != len(l2[i]):
        print(f"Length mismatch at index {i}:")
        print(f"l1 length: {len(l1[i])}, l2 length: {len(l2[i])}")
        print(f"Paras:{l1[i]}")
        print(f"Akshat:{l2[i]}")
    else:
        print(f"Index {i} lengths match!")

Index 0 lengths match!
Index 1 lengths match!
Index 2 lengths match!
Index 3 lengths match!
Index 4 lengths match!
Length mismatch at index 5:
l1 length: 20, l2 length: 21
Paras:{'इनमें ': 'PRON', 'से ': 'ADP', '58 ': 'NUM', 'Species ': 'NOUN', 'यूरोप': 'PROPN', ', ': 'X', 'Central ': 'ADJ', 'Asia ': 'PROPN', 'और ': 'CONJ', 'East ': 'PROPN', 'सहित ': 'ADP', 'दुनिया ': 'NOUN', 'के ': 'ADP', 'विभिन्न ': 'ADJ', 'हिस्सों ': 'NOUN', 'आए ': 'VERB', 'Winter ': 'ADJ', 'Migrants ': 'NOUN', 'हैं': 'VERB', '।': 'X'}
Akshat:{'इनमें ': 'PRON', 'से ': 'ADP', '58 ': 'NUM', 'Species ': 'NOUN', 'यूरोप': 'PROPN', ',': 'X', 'Central ': 'ADJ', 'Asia ': 'PROPN', 'और ': 'CONJ', 'East ': 'ADJ', 'Asia': 'PROPN', 'सहित ': 'ADP', 'दुनिया ': 'NOUN', 'के ': 'ADP', 'विभिन्न': 'ADJ', 'हिस्सों ': 'NOUN', 'आए ': 'VERB', 'Winter ': 'ADJ', 'Migrants ': 'NOUN', 'हैं': 'VERB', '।': 'X'}
Index 6 lengths match!
Index 7 lengths match!
Length mismatch at index 8:
l1 length: 24, l2 length: 25
Paras:{'Technology ': 'NOUN', 'के ': 'ADP', 'ज़रिये': 'ADP', 'मैं': 'PRON', 'IIT-Guwahati': 'PROPN', 'IIT-Delhi': 'PROPN', 'गाँधीनगर ': 'PROPN', 'Deendayal ': 'PROPN', 'Petroleum ': 'PROPN', 'University': 'PROPN', 'दिल्ली ': 'PROPN', 'JNU': 'PROPN', 'Mysore ': 'PROPN', 'University ': 'PROPN', 'Lucknow ': 'PROPN', 'connect ': 'VERB', 'हो ': 'VERB', 'पाया': 'VERB', 'विद्यार्थियों ': 'NOUN', 'से ': 'ADP', 'की ': 'ADP', 'और ': 'CONJ', '।': 'X', ', ': 'X'}
Akshat:{'Technology ': 'NOUN', 'के ': 'ADP', 'ज़रिये': 'NOUN', ',': 'X', 'मैं': 'PRON', 'IIT-Guwahati': 'PROPN', 'IIT-Delhi': 'PROPN', 'गाँधीनगर ': 'PROPN', 'की': 'ADP', 'Deendayal': 'PROPN', 'Petroleum': 'PROPN', 'University': 'PROPN', 'दिल्ली ': 'PROPN', 'की ': 'ADP', 'JNU': 'PROPN', 'Mysore ': 'PROPN', 'University ': 'PROPN', 'और ': 'CONJ', 'Lucknow ': 'PROPN', 'विद्यार्थियों ': 'NOUN', 'से ': 'ADP', 'connect ': 'VERB', 'हो ': 'VERB', 'पाया': 'VERB', '।': 'X'}
Index 9 lengths match!
Index 10 lengths match!
Length mismatch at index 11:
l1 length: 21, l2 length: 22
Paras:{'और ': 'CONJ', 'through ': 'PART', 'NDRF': 'PROPN', 'SDRF ': 'PROPN', 'आप ': 'PRON', 'पूरे ': 'ADJ', 'पुलिस ': 'NOUN', 'बेड़े ': 'NOUN', 'की ': 'ADP', 'एक ': 'NUM', 'नई ': 'ADJ', 'छवि': 'NOUN', 'पहचान ': 'NOUN', 'आज ': 'ADV', 'देश ': 'NOUN', 'में ': 'ADP', 'बन ': 'VERB', 'रही ': 'VERB', 'है': 'VERB', '।': 'X', ', ': 'X'}
Akshat:{'और ': 'CONJ', 'through ': 'ADP', 'NDRF': 'PROPN', ',': 'X', 'SDRF ': 'PROPN', 'आप ': 'PRON', 'पूरे ': 'DET', 'पुलिस ': 'NOUN', 'बेड़े ': 'NOUN', 'की ': 'ADP', 'एक ': 'DET', 'नई ': 'ADJ', 'छवि': 'NOUN', 'एक': 'DET', 'पहचान ': 'NOUN', 'आज ': 'ADV', 'देश ': 'NOUN', 'में ': 'ADP', 'बन ': 'VERB', 'रही ': 'VERB', 'है': 'VERB', '।': 'X'}
Index 12 lengths match!
Length mismatch at index 13:
l1 length: 26, l2 length: 27
Paras:{'भारत ': 'NOUN', 'के ': 'ADP', 'Higher ': 'PROPN', 'Education ': 'PROPN', 'Institutes': 'PROPN', 'अंतरराष्ट्रीय ': 'ADJ', 'स्तर ': 'NOUN', 'पर ': 'ADP', 'रिसर्च ': 'NOUN', 'और ': 'CONJ', 'एकैडेमिक ': 'ADJ', 'में ': 'ADP', 'आगे ': 'ADV', 'बढ़ें': 'VERB', 'इसके ': 'DET', 'लिए ': 'ADP', 'आज ': 'ADV', 'नई ': 'ADJ', 'गाइडलाइंस ': 'NOUN', 'भी ': 'PART', 'जारी ': 'VERB', 'की ': 'DET', 'गई ': 'VERB', 'हैं': 'VERB', '।': 'X', ', ': 'X'}
Akshat:{'भारत ': 'PROPN', 'के ': 'ADP', 'Higher ': 'ADJ', 'Education ': 'NOUN', 'Institutes': 'NOUN', ',': 'X', 'अंतरराष्ट्रीय ': 'ADJ', 'स्तर ': 'NOUN', 'पर ': 'ADP', 'रिसर्च ': 'NOUN', 'और': 'CONJ', 'एकैडेमिक ': 'ADJ', 'में ': 'ADP', 'और ': 'CONJ', 'आगे ': 'ADV', 'बढ़ें': 'VERB', 'इसके ': 'PRON', 'लिए ': 'ADP', 'आज ': 'ADV', 'नई ': 'ADJ', 'गाइडलाइंस ': 'NOUN', 'भी ': 'PART', 'जारी ': 'VERB', 'की ': 'ADP', 'गई ': 'VERB', 'हैं': 'VERB', '।': 'X'}
Index 14 lengths match!
Index 15 lengths match!
Index 16 lengths match!
Length mismatch at index 17:
l1 length: 22, l2 length: 24
Paras:{'इसके ': 'PRON', 'तहत ': 'ADP', 'IIT': 'PROPN', 'IISC': 'PROPN', 'NIT ': 'PROPN', 'जैसे ': 'ADP', 'संस्थानों ': 'NOUN', 'के ': 'ADP', 'B Tech': 'PROPN', 'M tech ': 'PROPN', 'और ': 'CONJ', 'M SC ': 'PROPN', 'Best ': 'ADJ', 'Students ': 'NOUN', 'को ': 'ADP', 'Prime ': 'PROPN', 'Minister ': 'PROPN', 'Fellowship ': 'PROPN', 'दी ': 'VERB', 'जाएगी': 'VERB', '।': 'X', ', ': 'X'}
Akshat:{'इसके ': 'PRON', 'तहत ': 'NOUN', 'IIT': 'PROPN', ',': 'X', 'IISC': 'PROPN', 'NIT ': 'PROPN', 'जैसे ': 'ADP', 'संस्थानों ': 'NOUN', 'के ': 'ADP', 'B ': 'PROPN', 'Tech': 'PROPN', 'M ': 'PROPN', 'tech ': 'PROPN', 'और ': 'CONJ', 'SC ': 'PROPN', 'Best ': 'ADJ', 'Students ': 'NOUN', 'को ': 'ADP', 'Prime ': 'ADJ', 'Minister ': 'PROPN', 'Fellowship ': 'NOUN', 'दी ': 'VERB', 'जाएगी': 'VERB', '।': 'X'}
Index 18 lengths match!
Index 19 lengths match!

In [27]:
# Check the length of 'label' column in both DataFrames
length_PARAS = df_nlp_PARAS['label'].apply(len)
length_AKSHAT = df_nlp_AKSHAT['label'].apply(len)

length_AKSHAT
# length_PARAS

# # Compare the lengths
# if length_PARAS != length_AKSHAT:
#     print(f"Length mismatch detected! \nLength of df_nlp_PARAS: {length_PARAS} \nLength of df_nlp_AKSHAT: {length_AKSHAT}")
# else:
#     print("The lengths of the 'label' column in both DataFrames match.")

0     1237
1      976
2     1519
3      828
4      994
5     1196
6     1559
7      850
8     1794
9     1093
10     965
11    1325
12    1272
13    1534
14    1171
15    1205
16    1367
17    1514
18     982
19    1226
Name: label, dtype: int64

In [18]:

# Assuming the CSV has columns 'annotator_1' and 'annotator_2'
annotator_1 = df_nlp['annotator_1'].values
annotator_2 = df_nlp['annotator_2'].values

# Calculate Cohen's Kappa
kappa = cohen_kappa_score(annotator_1, annotator_2)
print(f"Cohen's Kappa: {kappa}")

NameError: name 'df_nlp' is not defined