In [1]:
import pandas as pd
from sklearn.metrics import cohen_kappa_score

In [ ]:
# Load the CSV file with two annotators
df_nlp = pd.read_csv('project-1-at-2025-01-24-01-35-9486786b.csv')
df_cv = pd.read_csv('project-4-at-2025-01-24-14-34-8f9de1b9.csv')

In [7]:
df_cv.head()

,annotation_id,annotator,choice,created_at,id,image,lead_time,updated_at
0,21,1,No-Truck,2025-01-24T08:55:43.848784Z,14420,/data/upload/4/423bddd5-img_340.jpg,15.012,2025-01-24T08:55:43.848784Z
1,22,1,Truck,2025-01-24T08:56:07.549137Z,14421,/data/upload/4/afe8d17f-img_341.jpg,19.861,2025-01-24T08:56:07.549137Z
2,23,1,No-Truck,2025-01-24T08:56:36.973922Z,14422,/data/upload/4/aacb5d64-img_342.jpg,26.011,2025-01-24T08:56:36.973922Z
3,24,1,Truck,2025-01-24T08:56:48.025453Z,14423,/data/upload/4/ef3b3c70-img_343.jpg,7.156,2025-01-24T08:56:48.025453Z
4,25,1,No-Truck,2025-01-24T08:56:58.997891Z,14424,/data/upload/4/8ee86fa4-img_344.jpg,7.616,2025-01-24T08:56:58.997891Z