In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import cohen_kappa_score
from statsmodels.stats.inter_rater import fleiss_kappa

In [2]:
# Load the CSV file with two annotators
df_cv_PARAS = pd.read_csv('Paras\project-4-at-2025-01-25-00-36-551c7f4a.csv')
df_cv_AKSHAT = pd.read_csv('Akshat\project-2-at-2025-01-23-23-42-a1f30056.csv')
df_cv_RISHANK = pd.read_csv('Rishank\project-5-at-2025-01-24-09-22-8d0ec1e1.csv')

In [3]:
df_cv_PARAS

,annotation_id,annotator,choice,created_at,id,image,lead_time,updated_at
0,21,1,No-Truck,2025-01-24T08:55:43.848784Z,14420,/data/upload/4/423bddd5-img_340.jpg,15.012,2025-01-24T08:55:43.848784Z
1,22,1,Truck,2025-01-24T08:56:07.549137Z,14421,/data/upload/4/afe8d17f-img_341.jpg,19.861,2025-01-24T08:56:07.549137Z
2,23,1,No-Truck,2025-01-24T08:56:36.973922Z,14422,/data/upload/4/aacb5d64-img_342.jpg,26.011,2025-01-24T08:56:36.973922Z
3,24,1,No-Truck,2025-01-24T08:56:48.025453Z,14423,/data/upload/4/ef3b3c70-img_343.jpg,1195.261,2025-01-24T19:03:56.212683Z
4,25,1,No-Truck,2025-01-24T08:56:58.997891Z,14424,/data/upload/4/8ee86fa4-img_344.jpg,7.616,2025-01-24T08:56:58.997891Z
5,26,1,Truck,2025-01-24T08:57:12.534271Z,14425,/data/upload/4/803ec180-img_345.jpg,68.719,2025-01-24T19:05:07.451289Z
6,27,1,Truck,2025-01-24T08:58:01.877450Z,14426,/data/upload/4/42090fd5-img_346.jpg,43.709,2025-01-24T08:58:01.877450Z
7,28,1,Truck,2025-01-24T08:58:14.659341Z,14427,/data/upload/4/c7f959d5-img_347.jpg,8.290,2025-01-24T08:58:14.659341Z
8,29,1,No-Truck,2025-01-24T08:58:41.552282Z,14428,/data/upload/4/c706e3fd-img_348.jpg,24.665,2025-01-24T08:58:41.552282Z
9,30,1,No-Truck,2025-01-24T08:58:52.762255Z,14429,/data/upload/4/4fd6ef04-img_349.jpg,7.291,2025-01-24T08:58:52.762255Z
10,31,1,Truck,2025-01-24T08:59:04.486312Z,14430,/data/upload/4/3ed5d50b-img_350.jpg,9.846,2025-01-24T08:59:04.486312Z
11,32,1,No-Truck,2025-01-24T08:59:15.150730Z,14431,/data/upload/4/ea01e169-img_351.jpg,8.676,2025-01-24T08:59:15.150730Z
12,33,1,Truck,2025-01-24T08:59:23.959517Z,14432,/data/upload/4/a0ffb28b-img_352.jpg,6.076,2025-01-24T08:59:23.959517Z
13,34,1,Truck,2025-01-24T08:59:41.910562Z,14433,/data/upload/4/344a75eb-img_353.jpg,8.970,2025-01-24T08:59:41.910562Z
14,35,1,No-Truck,2025-01-24T09:00:03.066905Z,14434,/data/upload/4/d629fbf4-img_354.jpg,19.526,2025-01-24T09:00:03.066905Z
15,36,1,No-Truck,2025-01-24T09:02:36.668956Z,14435,/data/upload/4/ee09c72a-img_355.jpg,150.755,2025-01-24T09:02:36.668956Z
16,37,1,No-Truck,2025-01-24T09:03:42.283813Z,14436,/data/upload/4/51e743d3-img_356.jpg,17.848,2025-01-24T19:06:12.418651Z
17,38,1,Truck,2025-01-24T09:03:49.596972Z,14437,/data/upload/4/a4e559e4-img_357.jpg,5.583,2025-01-24T09:03:49.596972Z
18,39,1,No-Truck,2025-01-24T09:04:09.926798Z,14438,/data/upload/4/7fb6da76-img_358.jpg,20.548,2025-01-24T19:06:15.619751Z
19,40,1,Truck,2025-01-24T09:04:30.694838Z,14439,/data/upload/4/6c53bf77-img_359.jpg,14.728,2025-01-24T09:04:30.694838Z

In [4]:
df_cv_AKSHAT.head()

,annotation_id,annotator,choice,created_at,id,image,lead_time,updated_at
0,22,1,No-Truck,2025-01-23T18:04:02.604829Z,14421,/data/upload/2/f356ded0-img_340.jpg,22.417,2025-01-23T18:04:02.604829Z
1,23,1,Truck,2025-01-23T18:04:15.455358Z,14422,/data/upload/2/d41812dd-img_341.jpg,10.531,2025-01-23T18:04:15.455358Z
2,24,1,No-Truck,2025-01-23T18:04:59.028489Z,14423,/data/upload/2/488ed916-img_342.jpg,4.650,2025-01-23T18:04:59.028489Z
3,25,1,No-Truck,2025-01-23T18:05:26.844647Z,14424,/data/upload/2/1ba6c9f6-img_343.jpg,26.401,2025-01-23T18:05:26.844647Z
4,26,1,No-Truck,2025-01-23T18:05:34.255438Z,14425,/data/upload/2/ffe56553-img_344.jpg,5.848,2025-01-23T18:05:34.255438Z

In [5]:
df_cv_RISHANK.head()

,annotation_id,annotator,choice,created_at,id,image,lead_time,updated_at
0,21,1,No-Truck,2025-01-24T09:07:34.500515Z,14460,/data/upload/5/afeb6be7-img_340.jpg,59.298,2025-01-24T09:07:34.500533Z
1,22,1,Truck,2025-01-24T09:08:56.710095Z,14461,/data/upload/5/b8ee6aef-img_341.jpg,82.075,2025-01-24T09:08:56.710111Z
2,23,1,No-Truck,2025-01-24T09:09:17.035493Z,14462,/data/upload/5/6d06a377-img_342.jpg,20.214,2025-01-24T09:09:17.035521Z
3,24,1,No-Truck,2025-01-24T09:10:20.321822Z,14463,/data/upload/5/13d5d5fb-img_343.jpg,63.178,2025-01-24T09:10:20.321838Z
4,25,1,No-Truck,2025-01-24T09:10:50.669709Z,14464,/data/upload/5/7f07c2bd-img_344.jpg,30.219,2025-01-24T09:10:50.669724Z

In [6]:
df_cv_combined = pd.DataFrame(columns=['id', 'label_PARAS', 'label_AKSHAT', 'label_RISHANK'])
df_cv_combined['id'] = df_cv_PARAS['annotation_id']
df_cv_combined['label_PARAS'] = df_cv_PARAS['choice']
df_cv_combined['label_AKSHAT'] = df_cv_AKSHAT['choice']
df_cv_combined['label_RISHANK'] = df_cv_RISHANK['choice']

In [7]:
df_cv_combined

    id label_PARAS label_AKSHAT label_RISHANK
0   21    No-Truck     No-Truck      No-Truck
1   22       Truck        Truck         Truck
2   23    No-Truck     No-Truck      No-Truck
3   24    No-Truck     No-Truck      No-Truck
4   25    No-Truck     No-Truck      No-Truck
5   26       Truck     No-Truck         Truck
6   27       Truck        Truck         Truck
7   28       Truck     No-Truck      No-Truck
8   29    No-Truck     No-Truck      No-Truck
9   30    No-Truck     No-Truck      No-Truck
10  31       Truck        Truck         Truck
11  32    No-Truck     No-Truck      No-Truck
12  33       Truck        Truck         Truck
13  34       Truck        Truck         Truck
14  35    No-Truck     No-Truck      No-Truck
15  36    No-Truck     No-Truck      No-Truck
16  37    No-Truck     No-Truck      No-Truck
17  38       Truck        Truck         Truck
18  39    No-Truck     No-Truck      No-Truck
19  40       Truck        Truck         Truck

In [8]:
# Extract the ratings for each annotator into a numpy array
# Assuming 'label_PARAS', 'label_AKSHAT', 'label_RISHANK' represent categorical labels (e.g., 0, 1, or other values)
ratings = df_cv_combined[['label_PARAS', 'label_AKSHAT', 'label_RISHANK']].values

In [9]:
# You may need to convert ratings to a format where each item (row) is represented by the frequency of each label. 
# For example, if your labels are categorical (like 0, 1), you'll need to count the occurrences of each label.

# If your labels are binary (e.g., 0, 1), this conversion would work fine:
# Example: convert labels into a contingency table form suitable for Fleiss' Kappa calculation

# Convert ratings into a contingency table (matrix of item x label)
# Here we assume binary labels (e.g., 0 or 1). You can modify this for more categories if needed.

In [10]:
unique_labels = np.unique(ratings)
contingency_table = []

for row in ratings:
    label_counts = [np.sum(row == label) for label in unique_labels]
    contingency_table.append(label_counts)

contingency_table = np.array(contingency_table)

In [11]:
# Calculate Fleiss' Kappa
fleiss_kappa_value = fleiss_kappa(contingency_table)
print(f"Fleiss' Kappa: {fleiss_kappa_value}")

Fleiss' Kappa: 0.8611111111111109

In [12]:
# Load the CSV file with two annotators
df_nlp_PARAS = pd.read_csv('project-1-at-2025-01-25-01-18-7217fc4c.csv')
df_nlp_AKSHAT = pd.read_csv('Akshat\project-1-at-2025-01-23-23-24-6ff58ec5.csv')

In [13]:
df_nlp_AKSHAT.head()

,annotation_id,annotator,created_at,id,label,lead_time,text,updated_at
0,1,1,2025-01-23T16:19:34.426404Z,340,"[{""start"":0,""end"":5,""text"":""तुरंत"",""labels"":[""...",790.138,तुरंत सुनवाई के लिए Executive powers के साथ Ce...,2025-01-23T16:27:37.363218Z
1,2,1,2025-01-23T16:24:55.221898Z,341,"[{""start"":0,""end"":8,""text"":""Digital "",""labels""...",313.999,"Digital India, आत्मनिर्भर भारत की साधना है, Di...",2025-01-23T17:14:23.866011Z
2,3,1,2025-01-23T16:42:13.378509Z,342,"[{""start"":5,""end"":9,""text"":""लिए "",""labels"":[""A...",310.516,इसके लिए National Digital Health Mission के तह...,2025-01-23T17:14:26.233393Z
3,4,1,2025-01-23T16:48:04.922179Z,343,"[{""start"":0,""end"":8,""text"":""श्रीमान "",""labels""...",343.324,"श्रीमान मनसुख भाई मांडविया, वह अभी हमारे नए He...",2025-01-23T17:14:44.026713Z
4,5,1,2025-01-23T16:54:54.470038Z,344,"[{""start"":0,""end"":4,""text"":""इसी "",""labels"":[""P...",396.655,इसी महीने उन्हें World Intellectual Property O...,2025-01-23T16:54:54.470038Z

In [14]:
df_nlp_PARAS.head()

,annotation_id,annotator,created_at,id,label,lead_time,text,updated_at
0,1,1,2025-01-23T17:08:40.980860Z,340,"[{""start"":8,""end"":13,""text"":""India"",""labels"":[...",1826.460,"Digital India, आत्मनिर्भर भारत की साधना है, Di...",2025-01-24T19:46:38.858747Z
1,2,1,2025-01-23T17:16:46.250584Z,341,"[{""start"":0,""end"":5,""text"":""इसके "",""labels"":[""...",387.126,इसके लिए National Digital Health Mission के तह...,2025-01-23T17:16:46.250584Z
2,3,1,2025-01-23T17:22:37.244341Z,342,"[{""start"":8,""end"":14,""text"":""मनसुख "",""labels"":...",327.866,"श्रीमान मनसुख भाई मांडविया, वह अभी हमारे नए He...",2025-01-23T17:22:37.244341Z
3,4,1,2025-01-23T18:38:52.523837Z,343,"[{""start"":0,""end"":4,""text"":""इसी "",""labels"":[""D...",153.398,इसी महीने उन्हें World Intellectual Property O...,2025-01-23T18:38:52.523837Z
4,5,1,2025-01-23T18:44:22.448884Z,344,"[{""start"":0,""end"":10,""text"":""Kaziranga "",""labe...",326.857,Kaziranga National Park & Tiger Reserve Author...,2025-01-23T18:44:22.448884Z

In [15]:
annotations=pd.DataFrame(columns=['word','Paras','Akshat'])

In [16]:
import ast

l1 = []
l2 = []

# Iterate through the rows of both DataFrames
for i in range(len(df_nlp_PARAS)):
    d1 = dict()
    d2 = dict()

    # Convert the string in the 'label' column to a list of dictionaries
    labels_PARAS = ast.literal_eval(df_nlp_PARAS['label'][i])
    labels_AKSHAT = ast.literal_eval(df_nlp_AKSHAT['label'][i])

    # Iterate through the labels and extract the 'text' and 'labels' values
    for j in range(len(labels_AKSHAT)):
        # d1[labels_PARAS[j]['text']] = labels_PARAS[j]['labels'][0]  # Assuming each label list has one label
        d2[labels_AKSHAT[j]['text']] = labels_AKSHAT[j]['labels'][0]  # Same assumption
        
        # Iterate through the labels and extract the 'text' and 'labels' values
    for j in range(len(labels_PARAS)):
        d1[labels_PARAS[j]['text']] = labels_PARAS[j]['labels'][0]  # Assuming each label list has one label
        # d2[labels_AKSHAT[j]['text']] = labels_AKSHAT[j]['labels'][0]  # Same assumption

    l1.append(d1)
    l2.append(d2)

# Check if the lengths match for all entries
for i in range(len(l1)):
    if len(l1[i]) != len(l2[i]):
        print(f"Length mismatch at index {i}:")
        print(f"l1 length: {len(l1[i])}, l2 length: {len(l2[i])}")
    else:
        print(f"Index {i} lengths match!")

Length mismatch at index 0:
l1 length: 17, l2 length: 16
Length mismatch at index 1:
l1 length: 18, l2 length: 17
Length mismatch at index 2:
l1 length: 26, l2 length: 18
Length mismatch at index 3:
l1 length: 15, l2 length: 26
Length mismatch at index 4:
l1 length: 18, l2 length: 15
Length mismatch at index 5:
l1 length: 20, l2 length: 18
Length mismatch at index 6:
l1 length: 25, l2 length: 21
Length mismatch at index 7:
l1 length: 15, l2 length: 25
Length mismatch at index 8:
l1 length: 24, l2 length: 15
Length mismatch at index 9:
l1 length: 19, l2 length: 25
Length mismatch at index 10:
l1 length: 16, l2 length: 19
Length mismatch at index 11:
l1 length: 21, l2 length: 16
Length mismatch at index 12:
l1 length: 20, l2 length: 22
Length mismatch at index 13:
l1 length: 26, l2 length: 20
Length mismatch at index 14:
l1 length: 20, l2 length: 27
Length mismatch at index 15:
l1 length: 22, l2 length: 20
Length mismatch at index 16:
l1 length: 25, l2 length: 22
Length mismatch at index 17:
l1 length: 22, l2 length: 25
Length mismatch at index 18:
l1 length: 18, l2 length: 24
Length mismatch at index 19:
l1 length: 21, l2 length: 18

In [17]:
# Check the length of 'label' column in both DataFrames
length_PARAS = df_nlp_PARAS['label'].apply(len)
length_AKSHAT = df_nlp_AKSHAT['label'].apply(len)

length_AKSHAT
# length_PARAS

# # Compare the lengths
# if length_PARAS != length_AKSHAT:
#     print(f"Length mismatch detected! \nLength of df_nlp_PARAS: {length_PARAS} \nLength of df_nlp_AKSHAT: {length_AKSHAT}")
# else:
#     print("The lengths of the 'label' column in both DataFrames match.")

0      885
1     1237
2      976
3     1519
4      828
5      994
6     1196
7     1559
8      850
9     1794
10    1093
11     965
12    1325
13    1272
14    1534
15    1171
16    1205
17    1367
18    1514
19     982
20    1226
Name: label, dtype: int64

In [18]:

# Assuming the CSV has columns 'annotator_1' and 'annotator_2'
annotator_1 = df_nlp['annotator_1'].values
annotator_2 = df_nlp['annotator_2'].values

# Calculate Cohen's Kappa
kappa = cohen_kappa_score(annotator_1, annotator_2)
print(f"Cohen's Kappa: {kappa}")

NameError: name 'df_nlp' is not defined